
  <!-- plugins:js -->
  <script src="/admin_all/vendors/js/vendor.bundle.base.js"></script>
  <script src="/admin_all/vendors/js/vendor.bundle.addons.js"></script>
  <script src="/admin_all/js/off-canvas.js"></script>
  <script src="/admin_all/js/misc.js"></script>

  <script src="/admin_all/js/dashboard.js"></script>
  <script type="text/javascript" src="/js/admin_register.js"></script>
  
  <!-- End custom js for this page-->
</body>

</html>